
<div class="container" style="padding-top:60px; padding-bottom:60px">
  
<!--image view of current image being edited -->
  <div class="field" style="width:300px; height:auto">
    <%= link_to 'Back to Challenge', challenge_path(@art_work.challenge) %><br>
    <%= image_tag(@art_work.image, style:'width:100%') %>
  </div>
      
  <div class="form-row">
    <div class="card-body">
    <%= has_errors?(@art_work) %>
      <%= form_for(@art_work) do |f| %>

            <%= f.hidden_field :challenge_id %>
            
            <div class="form-group">
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </div>

            <div class="form-group">
                <%= f.label :description %><br>
                <%= f.text_field :description %>
            </div>

            <div class="actions">
                <%= f.submit "Submit", class: 'btn btn-primary'%>
            </div>
        
        <% end %>

    </div>
  </div>
  
</div>




