<h2> <%= @art_work.challenge.name %> </h2>
<p>challenge instructions</p>

<%= form_for([@challenge, @art_work]) do |f| %>

  <%= f.hidden_field :challenge_id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :social_handle %>
  <%= f.text_field :social_handle %>
<br>
<%= f.submit %>

<% end %>

