<h1>New Submission</h1>

<%= form_for(@art_work) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :social_handle %>
  <%= f.text_field :social_handle %>
<br>
<%= f.submit %>

<% end %>

