
  <h1>YOU'VE SUCCESSFULLY SUBMITTED YOUR ARTWORK to chalengename!..</h1>
  
  <h1> <%= @art_work.title %> </h1>
  <p> by: <%= link_to @art_work.user.first_name, user_art_works_path(current_user) %> </p>

  <div style="width:300px; height:auto">
  <%= image_tag(@art_work.image, style:'width:100%') %>
  </div>

<%= link_to 'Edit Post', edit_art_work_path(@art_work) %>

<%= button_to 'delete', @art_work, :method => :delete %>

<%# takes you to artwork index (my submissions) %>
<%= link_to @art_work.challenge.name, challenge_art_works_path(@art_work) %>

<h4>Comments Here:</h4>



